.parents{
    display: grid;
     /* grid-template-columns: 70px 70px 70px 70px;  */
    grid-template-rows: 100px 500px;
    width: 286px;

}
button{
    background: color #f7f7f7;;
    padding: 20px;
    border: 2px solid #ccc;
    font-size: 1.5em;
}
.display{
    background-color: rgba(0, 0, 0, 0.848);
    color: aliceblue;
    width: 98%;
    text-align: right;
    font-size: 24px;
    margin-bottom: 5px;
}
.keys{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    justify-content:space-evenly ;
}
.sp-op{
    background-color: rgb(211, 106, 25);
}
.op{
    background-color: rgb(211, 106, 25);
   
}
.clear{
    background-color: #cccccc;
}
.plus{
    grid-row: span 2;
}
.zero{
    grid-column: span 2;
}
.equal{
    grid-column:span 4 ;
    background-color: rgb(71, 71, 252);
}